body {
  background-image: url('img/backgd.png');
  background-color: #1A2750;
  background-size: 100%;
  background-repeat: no-repeat;
  margin: 0;
  height: 100%;
  overflow: hidden;
}

/* nav bar */
ul {
  list-style-type: none;
  margin: 0;
  padding: 13px;
  overflow: hidden;
  background-color: #EBEBE1;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

li a.nav-link:hover:not(.active) {
  background-color: #BEC9CF;
}

.nav-tab {
  float: left;
}

.navlink:active {
  background-color: #BEC9CF;
  color: #BEC9CF;
}

a {
  color: #BEC9CF;
}

.active:hover {
color: #1A2750;
}

.active {
  background-color: #BEC9CF;
  color:#1A2750;
}

.nav-link {
  color: #EBEBE1;
}

.nav-link:hover {
  color: #1A2750;
  background-color: #F0DFB1;
}

.topnav a {
  float: left;
  color: #EBEBE1;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  color: #1A2750;
}

.topnav-centered a:hover {
    color: #F0DFB1;
}

.topnav-centered a:hover {
background-color: #1A2750;
}

.topnav h1 {
  padding-top: 5px;
}

.topnav a.active {
  color: white;
}

.topnav-right {
  float: right;
 justify-content: center;
}

.welc1 {
  color: #D1E4E8;
  text-align: center;
  float: none;
}

.topnav-centered a {
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.topnav-centered a {
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.topnav-right {
  float: right;
  text-align: center;
  padding: 10px;
}

.topnav {
  position: relative;
  overflow: hidden;
  padding-left: 200px;
  padding-right: 220px;
  padding-top: 10px;
}

.topnav-right {
  float: right;
  text-align: center;
  justify-content: center;
  color: #EBEBE1;
  position: relative;
  margin-top: -10px;

}

.topnav-right i:hover {
  color: #EBEBE1;
}

.nav-link:hover {
    color: #F9F7F3;
}
/* blue wave */ 
.wave {
    position: absolute;
    right: -600px;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(-90deg);
}

.wave2 {
    position: absolute;
    left: -600px;
    width: 100%;
    overflow: hidden;
    line-height: 0;
  transform: rotate(90deg);
}

/* home text */
.hometext {
  padding-left: 180px;
  padding-right: 130px;
}

.homehead {
  float: left;
  padding-bottom: 10px;
  color: #C4B49B;
  font-size: 50px;
}

.homehead2 {
  float: left;
  padding-bottom: 10px;
  color: #E5E1C8;
  font-size: 40px;
}

.homehead3 {
  float: left;
  padding-bottom: 10px;
  color: white;
  padding-right: 80px;
}

.homehead5 {
  float: left;
  padding-bottom: 25px;
  color: white;
  padding-right: 80px;
  padding-left: 50px;
}

.homehead6 {
  float: left;
  padding-bottom: 10px;
  color: white;
  padding-right: 80px;
  font-size: 23px;
}

/* button */
.button1 {
  background-color: #F0DFB1;
  border: none;
  color: #1A2750;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}

.button1:hover {
  opacity: 1;
  color: #1A2750;
}

.button1 {border-radius: 10px;}

.b2 {
  justify-content: center;
  text-align: center;
  padding-bottom: 10px;
}

/* logo */
.hometext4 {
  justify-content: center;
  padding-top: -200px;
}

.pic {
  height: 100%;
  width: 100%;
}

/* text - work */
.text1 a:hover {
  color: #F0DFB1;
  text-decoration: none;
   padding-bottom: 10px;
}

.text1 a {
  font-size: 25px;
  text-decoration: none;
  color: white;
   padding-bottom: 10px;
}

.text1 {
  padding-top: 15px;
  padding-bottom: 10px;
}

.text2, .text3 {
  padding-bottom: 10px;
}

.text2 a {
    font-size: 25px;
  text-decoration: none;
  color: white;
   padding-bottom: 10px;
}

.text2 a:hover {
  color: #BEC9CF;
  text-decoration: none;
}

.text3 a {
  font-size: 25px;
  text-decoration: none;
  color: white;
  padding-bottom: 10px;
}

.text3 a:hover {
  color: #C4B49B;
  text-decoration: none;
}